{% extends 'bootstrap/base.html' %}
{% block head%}
    {{super()}}
    <title>
        {% block title %}   
            Flask |
        {% endblock title %}
    </title>
    <link rel="icon" type="favicon.png" href="../static/images/engine.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
{% endblock head %}
{% block body %}
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock navbar %}
    {% for category,message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}} alert-dismissible">
            <button data-dismiss="alert" class="close">&times;</button>
            {{message}}
        </div>
    {% endfor %}
    {% block content %}
        
    {% endblock content %}
    {% block scripts %}
        {{super()}}
    {% endblock scripts %}
{% endblock body %}