<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/working.png') }}"
                     style="max-width: 48px"
                     alt="working">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="https://cristiancaer.github.io/" target="_blank">Profile</a></li>
            </ul>
        </div>
    </div>
</div>